<footer class="py-3 mt-auto bg-dark" data-bs-theme="dark">
  <div class="container text-center text-sm-start text-muted">
    All rights reserved. © YelpCamp <%= new Date().getFullYear() %>
  </div>
</footer>
