<%- layout('layouts/boilerplate') %> <% block('head').append(`
<link rel="stylesheet" href="/css/user-form.css" />
<script defer src="/js/validateForms.js"></script>
`) %>

<div class="d-flex container justify-content-center align-items-center my-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://images.unsplash.com/photo-1492648272180-61e45a8d98a7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
          alt=""
          class="card-img-top" />
        <div class="card-body">
          <h1 class="mb-4 card-title display-4 fs-2 text-center">
            Get In Touch
          </h1>
          <form
            action="/contact"
            method="POST"
            class="validated-form user-form"
            novalidate>
            <div class="form-floating">
              <input
                class="form-control top-input"
                type="text"
                id="name"
                name="name"
                placeholder="Name"
                required
                autofocus />
              <label class="form-label" for="name">Name</label>
              <div class="valid-feedback mb-2">Looks good!</div>
              <div class="invalid-feedback mb-2">Please enter your name</div>
            </div>
            <div class="form-floating">
              <input
                class="form-control middle-input"
                type="email"
                id="email"
                name="email"
                placeholder="Email address"
                required />
              <label class="form-label" for="email">Email address</label>
              <div class="valid-feedback mb-2">Looks good!</div>
              <div class="invalid-feedback mb-2">
                Please enter your email address
              </div>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control bottom-input user-textarea"
                id="message"
                name="message"
                placeholder="Message"
                required></textarea>
              <label class="form-label" for="message">Message</label>
              <div class="valid-feedback mb-2">Looks good!</div>
              <div class="invalid-feedback mb-2">Please enter your message</div>
            </div>
            <div class="d-grid mt-4">
              <button class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
