#cluster-map {
  min-height: 50vh;
  min-height: 50dvh;
}

#camp-map {
  min-height: min(18.75rem, 40vh);
  min-height: min(18.75rem, 40dvh);
}

.mapboxgl-ctrl-geocoder {
  max-width: 50%;
}

.dropdown-toggle:after {
  vertical-align: middle;
}

.dropdown-menu .dropdown-item:active {
  background-color: hsl(152, 69%, 31%);
}

.campground-image {
  max-height: 13.75rem;
  object-fit: cover;
  object-position: center;
}

.campground-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
}
