.delete-image-animate {
  position: relative;
}

.delete-image-animate .delete-image-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  padding: 3.5rem;
  fill: hsl(0, 75%, 43%);
  border-radius: 0.25rem;
  transition: 0.2s linear all;
}

.delete-image-label:hover {
  opacity: 0.6;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5));
}

.delete-image-checkbox {
  cursor: pointer;
  border-color: hsl(152, 69%, 31%);
}

.delete-image-checkbox:checked {
  background-color: hsl(152, 69%, 31%);
  border-color: hsl(152, 69%, 31%);
}

.delete-image-checkbox:focus {
  box-shadow: 0 0 0 0.25rem hsla(152, 69%, 31%, 0.25);
  border-color: hsl(152, 69%, 31%);
}
