.user-form .top-input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.user-form .middle-input {
  border-radius: 0;
  margin-bottom: -1px;
}

.user-form .bottom-input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user-form .user-textarea {
  height: 10rem;
}

.user-form .user-checkbox {
  cursor: pointer;
  border-color: hsl(152, 69%, 31%);
}

.user-form .user-checkbox:checked {
  background-color: hsl(152, 69%, 31%);
}

.user-form .user-checkbox:focus {
  box-shadow: 0 0 0 0.25rem hsla(152, 69%, 31%, 0.25);
}

.user-form .user-checkbox + label {
  color: inherit;
}

@media screen and (min-width: 1200px) {
  .user-form .user-button-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .user-form .user-button-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px;
  }
}
