<%- layout('layouts/boilerplate') %> <% block('head').append(`
<link rel="stylesheet" href="/css/user-form.css" />
<script defer src="/js/validateForms.js"></script>
`) %>

<div class="d-flex container justify-content-center align-items-center my-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://images.unsplash.com/photo-1492648272180-61e45a8d98a7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
          alt=""
          class="card-img-top" />
        <div class="card-body">
          <h1 class="mb-4 card-title display-4 fs-2 text-center">
            Change Password
          </h1>
          <form
            action="/users/<%= id %>?_method=PUT"
            method="POST"
            class="validated-form user-form"
            novalidate>
            <div class="form-floating mb-4">
              <input
                class="form-control"
                type="password"
                id="currentPassword"
                name="currentPassword"
                placeholder="Current Password"
                required
                autofocus />
              <label class="form-label" for="currentPassword">
                Current Password
              </label>
              <div class="valid-feedback mb-2">Looks good!</div>
              <div class="invalid-feedback mb-2">
                Please enter your current password
              </div>
            </div>
            <div class="form-floating">
              <input
                class="form-control top-input"
                type="password"
                id="newPassword"
                name="password"
                placeholder="Password"
                required
                pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}" />
              <label class="form-label" for="newPassword">Password</label>
              <div class="valid-feedback mb-2">Looks good!</div>
              <div class="invalid-feedback mb-2">
                Password must contain at least one uppercase and lowercase
                letter, a number and be at least 8 characters long
              </div>
            </div>
            <div class="form-floating">
              <input
                class="form-control bottom-input"
                type="password"
                id="retypePassword"
                name="retypePassword"
                placeholder="Retype Password"
                required
                pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}" />
              <label class="form-label" for="retypePassword">
                Retype Password
              </label>
              <div class="valid-feedback mb-2">Looks good!</div>
              <div class="invalid-feedback mb-2">
                Password must contain at least one uppercase and lowercase
                letter, a number and be at least 8 characters long
              </div>
            </div>
            <div class="d-grid mt-4">
              <button class="btn btn-success mb-2">Change Password</button>
              <a class="btn btn-outline-primary mb-2" href="/users/<%= id %>">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 16 16">
                  <path
                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg>
                <span class="align-middle">Back To Profile</span>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
