<%- layout('layouts/boilerplate') %>
<% block('head').append('<link rel="stylesheet" href="/css/app.css">') %>

<div class="d-flex container justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1492648272180-61e45a8d98a7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                     alt="" class="card-img-top">
                <div class="card-body">
                    <h1 class="mb-4 card-title display-4 fs-2 text-center">Change Password</h1>
                    <form action="/users/<%= id %>?_method=PUT" method="POST" class="validated-form user-form"
                          novalidate>
                        <div class="form-floating mb-4">
                            <input class="form-control" type="password" id="currentPassword" name="currentPassword"
                                   placeholder="Current Password"
                                   required autofocus>
                            <label class="form-label" for="currentPassword">Current Password</label>
                            <div class="valid-feedback mb-2">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" type="password" id="newPassword" name="password"
                                   placeholder="Password" required>
                            <label class="form-label" for="newPassword">Password</label>
                            <div class="valid-feedback mb-2">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" type="password" id="passwordRepeat" name="passwordRepeat"
                                   placeholder="Repeat Password" required>
                            <label class="form-label" for="passwordRepeat">Repeat Password</label>
                            <div class="valid-feedback mb-2">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-grid mt-4">
                            <button class="btn btn-success">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% block('footer').append('<script src="/js/validateForms.js"></script>') %>