<%- layout('layouts/boilerplate') %>
<% block('head').append(`
<script defer src="/js/validateForms.js"></script>
`) %>

<div class="d-flex container justify-content-center align-items-center my-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://images.unsplash.com/photo-1492648272180-61e45a8d98a7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
          alt=""
          class="card-img-top" />
        <div class="card-body">
          <h1 class="mb-4 card-title display-4 fs-2 text-center">
            <%= title %>
          </h1>
          <p class="lead"><%= description %></p>
          <form
            action="<%= action %>"
            method="POST"
            class="validated-form"
            novalidate>
            <div class="form-floating">
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                placeholder="Email address"
                autofocus
                required />
              <label class="form-label" for="email">Email address</label>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="d-grid mt-4">
              <button class="btn btn-success">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
